for object in linkedObjects
  figure(id="work#{object.id}")
    h1
      a(href="http://collection.staging.artsmia.org/#/art/#{object.id}")=object.id
    figcaption
      ul
        for link in object.links
          li
            a(href="#{link.link}")=link.title

